# Test classes
src/test

# Git files
.git/
.gitignore

# Project files
scripts/docker-push.sh
target
*.md
compose.yaml
/application.yml

# Log files
*.log

# IntelliJ IDEA
.idea
*.iml
.jpb
.github

# Dotenv
.env
.env.leave
