# Test classes
src/test

# Git files
.git/
.gitignore

# Project files
scripts/docker-push.sh
target
.travis.yml
*.md
docker-compose.yml
src/main/resources/application.yml

# Log files
*.log

# IntelliJ IDEA
.idea
*.iml

# Dotenv
.env
.env.leave
