.idea/
*.iml
target/

scripts/deploy.properties

src/main/resources/liquibase.properties
src/main/resources/liquibase.prod.properties
src/main/resources/application.properties
src/main/resources/application.prod.properties

src/main/resources/application.yml
src/main/resources/application.prod.yml