<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="datagrid-head" role="rowgroup">
        <div class="datagrid-row border-top border-bottom" role="row">
            <div class="datagrid-header border-start border-end px-2 py-1 w-50 text-nowrap" role="columnheader">
                <wicket:message key="attendee.comment"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1 w-1 text-nowrap" role="columnheader">
                <wicket:message key="attendee.accommodationNeeded"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1 w-1 text-nowrap" role="columnheader">
                <wicket:message key="attendee.offeredBeds"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1 w-1 text-nowrap" role="columnheader">
                <wicket:message key="attendee.byCar"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1 w-1 text-nowrap" role="columnheader">
                <wicket:message key="count"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1 w-1 text-nowrap" role="columnheader">
                <wicket:message key="person.name"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1" role="columnheader">
                <wicket:message key="attendee.presence"></wicket:message>
            </div>
            <div class="datagrid-header border-start border-end px-2 py-1" role="columnheader">
                <wicket:message key="attendee.presenceNote"></wicket:message>
            </div>
        </div>
    </div>

    <div class="datagrid-body" role="rowgroup">
        <wicket:container wicket:id="rows">
            <form class="datagrid-row" role="row" wicket:id="form">
                <div class="datagrid-cell border-start border-end border-bottom w-50 text-nowrap" role="cell"
                     wicket:id="commentCell">
                    <input type="text" class="shadow-none border-0 rounded-0" wicket:id="comment" />
                </div>
                <div class="datagrid-cell border-start border-end border-bottom text-center w-1 text-nowrap" role="cell"
                     wicket:id="accommodationNeededCell">
                    <input type="checkbox" wicket:id="accommodationNeeded" />
                </div>
                <div class="datagrid-cell border-start border-end border-bottom w-1 text-nowrap" role="cell">
                    <input type="number" class="shadow-none border-0 rounded-0" wicket:id="bedsOfferedCount" />
                </div>
                <div class="datagrid-cell border-start border-end border-bottom text-center w-1 text-nowrap" role="cell"
                     wicket:id="byCarCell">
                    <input type="checkbox" wicket:id="byCar" />
                </div>
                <div class="datagrid-cell border-start border-end border-bottom w-1 text-nowrap" role="cell">
                    <input type="number" class="shadow-none border-0 rounded-0" wicket:id="carSeatCount" />
                </div>
                <div class="datagrid-cell border-start border-end border-bottom px-2 py-1 small w-1 text-nowrap"
                     role="cell" wicket:id="name">
                </div>
                <div class="datagrid-cell border-start border-end border-bottom" role="cell"
                     wicket:id="invitationStatusCell">
                    <select class="shadow-none border-0 rounded-0" wicket:id="invitationStatus"></select>
                </div>
                <div class="datagrid-cell border-start border-end border-bottom px-2 py-1 small w-1 text-nowrap"
                     role="cell" wicket:id="periodCell">
                    <span wicket:id="periodLabel"></span>
                </div>
            </form>
        </wicket:container>
    </div>
</wicket:panel>
