<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="input-group input-group-sm mb-1">
        <input type="datetime-local" class="form-control form-control-sm" wicket:id="startDateTime">
        <button type="submit" class="btn btn-sm btn-outline-secondary" wicket:id="startDateTimeReset">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="input-group input-group-sm">
        <input type="datetime-local" class="form-control form-control-sm" wicket:id="endDateTime">
        <button type="submit" class="btn btn-sm btn-outline-secondary" wicket:id="endDateTimeReset">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
</wicket:panel>
