<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="btn-group btn-group-sm" role="group" wicket:message="aria-label:InvitationStatusFilter.btnGroup.label">
        <input type="checkbox" class="btn-check" autocomplete="off" wicket:id="uninvited" />
        <label class="btn btn-sm btn-outline-secondary" wicket:id="uninvitedLabel">
            <i class="bi bi-circle"></i>
        </label>

        <input type="checkbox" class="btn-check" autocomplete="off" wicket:id="tentative" />
        <label class="btn btn-sm btn-outline-info" wicket:id="tentativeLabel">
            <i class="bi bi-question"></i>
        </label>

        <input type="checkbox" class="btn-check" autocomplete="off" wicket:id="accepted" />
        <label class="btn btn-sm btn-outline-success" wicket:id="acceptedLabel">
            <i class="bi bi-check"></i>
        </label>

        <input type="checkbox" class="btn-check" autocomplete="off" wicket:id="declined" />
        <label class="btn btn-sm btn-outline-danger" wicket:id="declinedLabel">
            <i class="bi bi-x"></i>
        </label>

        <input type="checkbox" class="btn-check" autocomplete="off" wicket:id="pending" />
        <label class="btn btn-sm btn-outline-warning" wicket:id="pendingLabel">
            <i class="bi bi-circle-fill"></i>
        </label>
    </div>
</wicket:panel>
