<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<wicket:panel>
    <form wicket:id="form">
        <div class="clearfix">
            <a data-toggle="collapse" wicket:id="showBtn"></a>
        </div>
        <div class="collapse" wicket:id="wmc">
            <div class="clearfix" style="margin-top: 5px; margin-bottom: 5px; border-bottom: 1px solid #e5e5e5;"></div>
            <wicket:child/>
            <div class="form-group form-group-sm pull-right">
                <div class="btn-group btn-group-sm" role="group" aria-label="Filter navigation">
                    <a wicket:id="filterBtn"></a>
                    <a wicket:id="resetBtn"></a>
                </div>
            </div>
        </div>
    </form>
</wicket:panel>
</body>
</html>