<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form wicket:id="form">
        <div class="mb-3">
            <label class="form-label" wicket:id="firstNameLabel"></label>
            <input type="text" wicket:id="firstName" />
            <div wicket:id="firstNameFeedback"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" wicket:id="lastNameLabel"></label>
            <input type="text" wicket:id="lastName" />
            <div wicket:id="lastNameFeedback"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" wicket:id="fileNameLabel"></label>
            <input type="text" wicket:id="fileName" />
            <div wicket:id="fileNameFeedback"></div>
        </div>
        <div>
            <label class="form-label" wicket:id="emailAddressLabel"></label>
            <input type="email" wicket:id="emailAddress" />
            <div wicket:id="emailAddressFeedback"></div>
        </div>
    </form>
</wicket:panel>
