<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="text-center">
        <div wicket:id="catering" style="margin-right: 1rem"></div>
        <div wicket:id="accommodation" style="margin-left: 1rem; margin-right: 1rem"></div>
        <div class="badge" wicket:id="car">
            <i class="fa fa-car"></i>
            <span wicket:id="seats"></span>
        </div>
    </div>
</wicket:panel>
</body>
</html>
