<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<wicket:panel>
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-md-4 text-start">
                <span wicket:id="developmentMode"></span>
            </div>
            <div class="col-md-4 text-center">
                &copy; 2017 - <span wicket:id="year"></span> <span wicket:id="customer"></span>
            </div>
            <div class="col-md-4 text-end">
                <span wicket:id="applicationName"></span> v<span wicket:id="version"></span>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
