// _busy.scss

#busy-indicator {
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translate(-21.09px, -21.09px); // Transform half of icon size
    z-index: 22001;

    svg {
        position: fixed;
        top: 50%;
        left: 50%;
    }
}
