@import "overrides";
@import "scss/functions";
@import "scss/variables";
@import "scss/variables-dark";

td.adp > div {
    border: 2px solid var(--bs-white);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div {
        color: var(--bs-white);
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .a {
        background-color: var(--bs-success);
    }

    .d {
        background-color: var(--bs-danger);
    }

    .p {
        background-color: var(--bs-warning);
    }
}
