// participate.scss
@import "mixins";
@import "variables";
@import "sizing";
@import "busy";
@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

main > {
    .container-fluid {
        padding-top: 60px;
    }

    .container {
        padding-top: 60px;
    }
}

.td-with-btn-xs {
    width: 34px;
}

.panel-title.with-btn-sm {
    line-height: 30px;
}

.table tr.user td.person-name {
    font-weight: 700;
}

.badge.badge-success {
    background-color: #3c763d;
}

.badge.badge-transparent {
    background-color: transparent;
}

.badge.text-muted {
    color: #777;
}

.table .m-0 > div > p:last-child {
    margin: 0;
}

.participants {
    --cell-width-invitationStatus: 34px;
    --cell-width-edit: 30px;
    --cell-width-notify: 30px;

    &.participants-basic {
        --cell-width-name: 300px;
        --cell-width-voice: calc(100% - var(--cell-width-invitationStatus) - var(--cell-width-name) - var(--cell-width-edit) - var(--cell-width-notify));
    }

    &.participants-detailed {
        --cell-width-name: 200px;
        --cell-width-voice: 100px;
        --cell-width-attribute: 180px;
        --cell-width-period: 140px;
        --cell-width-comment: calc(100% - var(--cell-width-invitationStatus) - var(--cell-width-name) - var(--cell-width-voice) - var(--cell-width-attribute) - var(--cell-width-period) - var(--cell-width-edit) - var(--cell-width-notify));
    }

    td {
        &.invitationStatus {
            width: var(--cell-width-invitationStatus);
        }

        &.name {
            width: var(--cell-width-name);
        }

        &.voice {
            width: var(--cell-width-voice);
        }

        &.attribute {
            width: var(--cell-width-attribute);
        }

        &.period {
            width: var(--cell-width-period);
        }

        &.comment {
            width: var(--cell-width-comment);
        }

        &.edit {
            width: var(--cell-width-edit);
        }

        &.notify {
            width: var(--cell-width-notify);
        }
    }
}

.events td {
    --cell-width-name: 500px;
    --cell-width-date: 187px;
    --cell-width-type: calc(100% - var(--cell-width-name) - var(--cell-width-date) - var(--cell-width-location) - var(--cell-width-adp));
    --cell-width-location: 180px;
    --cell-width-adp: 80px;

    &.name {
        width: var(--cell-width-name);
    }

    &.date {
        width: var(--cell-width-date);
    }

    &.type {
        width: var(--cell-width-type);
    }

    &.location {
        width: var(--cell-width-location);
    }

    &.adp {
        width: var(--cell-width-adp);
    }
}
